{{new_adventure.aventura}}
{{#each new_adventure}}
    <h1>{{aventura}}</h1>
    <h1>{{nome}}</h1>
    <h1>{{cor}}</h1>
    <h1>{{id}}</h1>
    <h1>{{align}}</h1>
{{else}}
NENHUMA AVENTURA DISPONÍVEL
{{/each}}
